@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

header {
	text-align: center;
    letter-spacing: 1px;
    height:10em;
}

body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: rgb(229, 229, 210);
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
    overflow-x: hidden;
}

a { 
    text-decoration: none;
    color:rgb(229, 229, 210) ;
}

P.backtomainpage {
    font-family: 'VT323', monospace;
    font-size:x-large;
    text-decoration:none;
}

.liveTime{
box-sizing: border-box;
}

PRE.lifeTimeList{
    font-family: 'VT323', monospace;
    font-size:x-large;
    text-decoration:none;
    width: 800px;
    display: inline-block;
}

PRE.earth {
    font-family: 'VT323', monospace;
    font-size:x-large;
    text-decoration:none;
    width: 400px;
    display: inline-block;
}

.PStxt {
    width: 90%;
    margin: auto;
}

P.PS {
text-align: center;
font-size:  25px;
}

#clock {
float: right;
font-size: x-large;
margin-right: 2%;
}

footer{ 
    text-align: center;
    font-size: 35px;
    bottom:1; 
    width:100%; 
    height:7%; 
  }
  
footer li {
    display: inline-block;
    padding: 10px;
    font-size: 35px;
  }

