@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


header {
	text-align: center;
    letter-spacing: 1px;
    height:2em;
}

body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: antiquewhite;
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
	/* width: 100%;
    max-width: 100%; */
    overflow-x: hidden;
    /* position: absolute; */
}


a { 
    text-decoration: none;
    color:antiquewhite ;
}

pre {
    color:antiquewhite ;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

summary {
    cursor: pointer;
}

#clock {
    float:right;
    font-size: x-large;
    margin-right: 2%;
    margin-top: 1%;
    }

.navbar {
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    background: antiquewhite;
    color: black;
}



.separator {
    width: 100%;
    height: 65px;
}



/* .dungeon{
    width: 85%;
    position: relative;
    text-align: center;
    border: 1px dashed #585858;
    margin-left: auto;
    margin-right: auto;
}

.dungeon .MainText {
    width: 30%;
    text-align: left;
    font-size: xx-large;
    margin-top: 2%;
    margin-left: 2%;
    line-height: 0.9;
}

.dungeon .codewrapper {
    text-align: right;
    
} */

/* .dungeon .code {
    float: right;
    height: 90%;
    width: 45%;
    background-color: black;
    color: antiquewhite;
    font-family: 'VT323', monospace;
    font-size: medium;

} */

.backtomainpage {
    font-size: xx-large;
    line-height: 1;
}


.dropbtn {
    font-size: x-large;
    font-family: 'VT323', monospace;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color:rgb(232, 218, 200);}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: antiquewhite; color: black;}



.AsciiMorph {
  text-align: center;
  
}


  .helloWorld {
    text-align: center;
    background: linear-gradient(to right, rgb(15, 192, 2), rgb(1, 184, 245), rgb(157, 180, 232), rgb(121, 101, 237), rgb(115, 0, 255), blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  .pentestLogo {
    text-align: center;
    background: linear-gradient(to right, rgb(78, 192, 2), rgb(12, 107, 0), rgb(7, 170, 15), rgb(0, 128, 0));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  .hardwareLogo {
    text-align: center;
    background: linear-gradient(to right, rgb(192, 2, 2), rgb(245, 78, 1), rgb(170, 7, 61), rgb(113, 0, 128), rgb(115, 0, 255));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  .softwareLogo {
    text-align: center;
    background: linear-gradient(to right, rgb(255, 217, 0), rgb(229, 245, 1));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }


.blogContainer {
    border: 1px dashed #585858;
    margin:0 auto;
    max-width: 95%;
    letter-spacing: 1px;

}

.blogContainer .greeting {
    font-size: x-large;
    margin-left: 1%;
}


details {
  width: 100px ;
}


summary {
  list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}





.morph-section {
  width: 400px;
  height: 400px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  font-family: monospace;
  color: #fff;
}


