@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
	-webkit-user-select: none;
	user-select: none;
}

header {
	text-align: center;
    letter-spacing: 1px;
    height:2em;
}


body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: antiquewhite;
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
	/* width: 100%;
    max-width: 100%; */
    /* position: absolute; */
}


a { 
    text-decoration: none;
    color:antiquewhite ;
}

p{
  text-align: center;
}

embed {
  margin-left: 10px;
}


.mainIMG {
  max-width: 40%;
  max-height: 50%;
}

.bookIMG  {
  max-width: 95%;
}

pre {
    color:antiquewhite ;
    font-family: 'VT323', monospace;
    letter-spacing: 0.5px;
}

summary {
    cursor: pointer;
    width: 15%;
}

embed {
  max-width: 300px;
}

#clock {
    float:right;
    font-size: x-large;
    margin-right: 2%;
    margin-top: 1%;
    }

.navbar {
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

.separator {
    width: 100%;
    height: 65px;
}

.backtomainpage {
    font-size: xx-large;
    line-height: 1;
}


.dropbtn {
    font-size: x-large;
    font-family: 'VT323', monospace;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
  }
  
  .dropdown-content a {
    color: antiquewhite;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  


.AsciiMorph {
  text-align: center;
  
}


  .helloWorld {
    text-align: center;
    /* background: linear-gradient(to right, rgb(15, 192, 2), rgb(1, 184, 245), rgb(157, 180, 232), rgb(121, 101, 237), rgb(115, 0, 255), blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite; */
  }
  
  /* @-webkit-keyframes rainbow {                                                   I had to remove the dynamic backlight due to the friezes of the main animation
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  } */
  
.helloWorldLogo {
  color: rgb(199, 0, 0);
}

.helloWorldBlog {
  text-align: center;
  color: rgb(199, 0, 0);
  font-size: xx-large;
  margin-bottom: 2%;
}

  .pentestLogo {
    text-align: center;
    color: rgb(0, 190, 0);
  }
  
  /* @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  } */

  .hardwareLogo {
    text-align: center;
    color: rgb(0, 106, 211);
  }
  
  /* @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  } */

  .softwareLogo {
    text-align: center;
    color: rgb(255, 222, 35);
  }
  
  /* @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  } */
  

  .toolsLogo {
    text-align: center;
    color: rgb(199, 0, 0);
  }

  .literatureLogo {
    text-align: center;
    color: rgb(179, 0, 255);
  }

.blogContainer {
    border: 1px dashed #585858;
    margin:0 auto;
    max-width: 95%;
    letter-spacing: 1px;
    margin-bottom: 20px;
}



.blogContainer .greeting {
    font-size: x-large;
    margin-left: 1%;
    line-height: 20px;
}

.mainBlogContainer {
  overflow-x: scroll;
  font-family: 'VT323', monospace;
  border: 1px dashed #585858;
  margin:0 auto;
  max-width: 80%;
  letter-spacing: 1px;
  margin-bottom: 20px;
  max-height: 600px;
  color: antiquewhite;
}

.bookBlogContainer {
  box-sizing: border-box;
  overflow-x: scroll;
  font-family: 'VT323', monospace;
  border: 1px dashed #585858;
  margin:0 auto;
  max-width: 80%;
  letter-spacing: 1px;
  margin-bottom: 20px;
  max-height: 600px;
  color: antiquewhite;
}

.bookContainer {
  float: left;
  border: 1px dashed #585858;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 45px;
  margin-top: 20px;
  max-width: 18%;
  min-width: 210px;
  min-height: 350px;
  font-size: large;
  text-align: center;
}

/* details {
  width: 100px ;
} */

summary {
  list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.separatorPre {
  color: #585858;
  margin-top: 100px;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}

.textHolder {
  margin: 0 auto;
  max-height: 300px;
  max-width: 80%;
  min-width: 250px;
  border: 1px dashed #585858;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: 'VT323', monospace;
  font-size:larger;
  color: antiquewhite;
  margin-bottom: 40px;
  }

  .textHolderAvarage {
    margin: 0 auto;
    max-height: 100;
    max-width: 35%;
    min-width: 250px;
    border: 1px dashed #585858;
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: 'VT323', monospace;
    font-size:larger;
    color: antiquewhite;
    margin-bottom: 40px;

  }

.morph-section {
  width: 400px;
  height: 400px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  font-family: monospace;
  color: #fff;
}

.tags {
  border: 1px dashed #585858;
  color:#838383;
  font-size: x-large;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px
}

.greetingHeader {
  font-size: x-large;
  margin-top: 10px;
  text-align: center;
}

.mainText {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: x-large;
}

.mainTextPlain {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: x-large;
  margin-left: 20px;
}

.mainTextAfter {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #838383;
  margin-left: 1%;
  font-size: x-large;
}

.inner {
  width:90%;
  color: #585858;
}

.activity {
  width:20px;
  text-align:center;
}

.spinning {
  animation: spinning steps(8, end) 2s infinite;
}

@-webkit-keyframes progress-bar-width {
0%   { width: 0; }
100% { width: 100%; }
}

@-webkit-keyframes spinning {
  0%   { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}

.pipes .inner, .blocks .inner, .blocks-gaps {
animation: progress-bar-width 30s infinite;
overflow:hidden;
animation-timing-function:linear;
}






/* -------------------------------------MAC----------------------------------- */
form {
	margin: auto;
	padding: 0 1.5em;
	text-align: center;
}
/* Mappy Mac */
.mac, .mac__shape {
	transition: all 0.25s ease-in-out;
}
.mac {
	cursor: pointer;
	display: block;
	font-size: 0.5em;
	margin: 0 auto 3rem auto;
	position: relative;
	width: 23em;
	height: 30em;
	-webkit-tap-highlight-color: transparent;
}
.mac__input, .mac__shape, .mac__sr {
	position: absolute;
}
.mac__shape {
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	transform-origin: 0 0;
	will-change: transform;
}
.s1, .s2 {
	background: #adadad;
	width: 22em;
}
.s1 {
	height: 1.1em;
	transform: translate(0.5em,0);
}
.s2 {
	height: 25em;
	transform: translate(0.5em,1em);
}
.s3, .s4 {
	width: 20em;
	height: 3em;
	transform: translate(1.5em,27em);
}
.s3 {
	background:
		linear-gradient(90deg,#7d7d7d 6em,#575757 6em 11em,#57575700 11em) 0 0,
		linear-gradient(90deg,#8f8f8f 8em,#7d7d7d 8em 10em,#575757 10em 14em,#57575700 14em) 0 1em,
		linear-gradient(90deg,#a6a6a6 8em,#8f8f8f 8em 11em,#7d7d7d 11em 13em,#575757 13em 17em,#57575700 17em) 0 2em;
	background-color: #2b2b2b;
	background-repeat: no-repeat;
	background-size: 100% 1em;
}
.s4 {
	background: antiquewhite;
	opacity: 0;
}
.s5 {
	background: #d4cdfd;
	box-shadow:
		0 -1em #3b3b3b,
		1em 0 antiquewhite,
		0 1em antiquewhite,
		-1em 0 #3b3b3b;
	width: 16em;
	height: 13em;
	transform: translate(3.5em,3em);
}
.mac__shape:nth-of-type(n + 6):nth-of-type(-n + 23), .s25 {
	background: #000;
}
.s6, .s7, .s8, .s9, .s10 {
	transform: translate(6.5em,6em);
}
.s6, .s11 {
	height: 2em;
}
.s11, .s12, .s13, .s14, .s15 {
	transform: translate(14.5em,6em);
}
.s16, .s17 {
	transform: translate(9.5em,10em);
}
.s18 {
	height: 5em;
	transform: translate(10.5em,6em);
}
.s19 {
	transform: translate(10.5em,10em);
}
.s20 {
	transform: translate(7.5em,12em);
}
.s21 {
	width: 4em;
	transform: translate(8.5em,13em);
}
.s22, .s23 {
	transform: translate(12.5em,12em);
}
.s24 {
	background: #62fe3d;
	box-shadow: 0 1em #ff001a;
	width: 2em;
	transform: translate(2.5em,22em);
}
.s25 {
	box-shadow: 0 1em antiquewhite;
	width: 8em;
	transform: translate(11.5em,22em);
}
/* Sad Mac */
.mac__input:checked ~ .s1, .mac__input:checked ~ .s2, .mac__input:checked ~ .s5 {
	background: antiquewhite;
}
.mac__input:checked ~ .s1 {
	transform: translate(1em,0) scale(calc(21/22),1);
}
.mac__input:checked ~ .s2 {
	transform: translate(0,1em) scale(calc(23/22),1);
}
.mac__input:checked ~ .s3, .mac__input:checked ~ .s4 {
	transform: translate(1em,27em) scale(1.05,1);
}
.mac__input:checked ~ .s4 {
	opacity: 1;
}
.mac__input:checked ~ .s5 {
	box-shadow:
		0 -1em #000,
		1em 0 #000,
		0 1em #000,
		-1em 0 #000;
	width: 17em;
	transform: translate(3em,3em);
}
.mac__input:checked ~ .s6 {
	transform: translate(7em,6em) scale(1,0.5);
}
.mac__input:checked ~ .s7 {
	transform: translate(6em,5em);
}
.mac__input:checked ~ .s8 {
	transform: translate(8em,5em);
}
.mac__input:checked ~ .s9 {
	transform: translate(6em,7em);
}
.mac__input:checked ~ .s10 {
	transform: translate(8em,7em);
}
.mac__input:checked ~ .s11 {
	transform: translate(15em,6em) scale(1,0.5);
}
.mac__input:checked ~ .s12 {
	transform: translate(14em,5em);
}
.mac__input:checked ~ .s13 {
	transform: translate(16em,5em);
}
.mac__input:checked ~ .s14 {
	transform: translate(14em,7em);
}
.mac__input:checked ~ .s15 {
	transform: translate(16em,7em);
}
.mac__input:checked ~ .s16 {
	transform: translate(9em,9em);
}
.mac__input:checked ~ .s17 {
	transform: translate(10em,10em);
}
.mac__input:checked ~ .s18 {
	transform: translate(11em,10em) scale(1,0.2);
}
.mac__input:checked ~ .s19 {
	transform: translate(12em,9em);
}
.mac__input:checked ~ .s20 {
	transform: translate(8em,13em);
}
.mac__input:checked ~ .s21 {
	transform: translate(9em,12em) scale(1.25,1);
}
.mac__input:checked ~ .s22 {
	transform: translate(14em,13em) scale(2,1);
}
.mac__input:checked ~ .s23 {
	transform: translate(16em,14em);
}
.mac__input:checked ~ .s24 {
	background: #000;
	box-shadow: 0 1em antiquewhite;
	transform: translate(2em,21em) scale(1.5,1);
}
.mac__input:checked ~ .s25 {
	transform: translate(13em,21em) scale(0.875,1);
}


.checkbox1 {
  font-size: large
}

@-webkit-keyframes pulsing-opacity {
  0%   { opacity:0 }
  100% { opacity:1 }
}
.pulsing {
  font-family:monospace;
  animation: pulsing-opacity steps(10) 0.6s infinite alternate;
}




#skull {
  display:block;
  width: 400px;
  height: 545px;
  margin: auto;
}

polygon {
  stroke: #dbdad7;
  stroke-width: 1px;
}

#skull:hover #jaw {
  transform-origin: top center;
  animation: jabber .35s ease infinite;
}

@keyframes jabber { 
  0%, 50%, 100% { transform: rotateZ(0deg) translateY(0px); }
  33% { top: 1px; transform: rotateZ(-.5deg) translateY(10px); }
  66% { top: 1px; transform: rotateZ(.5deg) translateY(8px); }
}



section {
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin: 0 auto;
}

canvas {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
  image-rendering: pixelated;
}
