@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


header {
	text-align: center;
    letter-spacing: 1px;
    height:10em;
}

body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: rgb(229, 229, 210);
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
	/* width: 100%;
    max-width: 100%; */
    overflow-x: hidden;
    /* position: absolute; */
}


a { 
    text-decoration: none;
    color:rgb(229, 229, 210) ;
}


#clock {
    float: right;
    font-size: x-large;
    margin-right: 2%;
    }

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: rgb(229, 229, 210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    background: rgb(229, 229, 210);
    color: black;
}

.separator {
    width: 100%;
    height: 15px;
}



.dungeon{
    text-align: center;
    border: 1px dashed #585858;
    width: 75%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.dungeon .MainText {
    float: left;
    text-align: left;
    font-size: xx-large;
    margin-top: 2%;
    margin-left: 2%;
    line-height: 0.9;
}


.dungeon .code {
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 90%;
    width: 45%;
    background-color: black;
    color: antiquewhite;
    font-family: 'VT323', monospace;
    font-size: medium;

}