/* @font-face {
    font-family: "sono";
    font-style: normal;
    font-weight: 400;
    src: local("sono"),
         url("/Users/pr0m31h3u5/Desktop/pr0m31h3u5.com/fonts/Sono-Regular.ttf") format("ttf"),
  } */

/* body {
    font-family:"Arial", sans-serif;
} */

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


header {
	text-align: center;
    letter-spacing: 1px;
    height:10em;

}



/* preventing overscroll */
/* body {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
} */




body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: rgb(229, 229, 210);
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
}





#mainPage {
    box-sizing: border-box;
	}
    #greeting {
        box-sizing: border-box;
        width: 320px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10%;
        font-family: 'VT323', monospace;
        font-size:x-large;
        float: left;
         }

    #skills { 
        box-sizing: border-box;
        width: 400px;
        display: inline-block;
        vertical-align: middle;
        margin-left: auto;
        font-family: 'VT323', monospace;
        font-size:x-large;
        margin-left: 5%;
        } 
        
    #education {
        box-sizing: border-box;
        width: 300px;
        display: inline-block;
        vertical-align: middle;
        margin-left: auto;
        margin-right: 10%;
        float: right;
        } 



a { 
    text-decoration: underline;
    color:rgb(229, 229, 210) ;
}

P.greeting_hlwrld{
    text-align: center;
}

P.developer {
    text-align: center;
}

P.greeting_gif {
    text-align: center;
}

P.firstLineStr {
    text-align: center;
}

P.diplomesStr {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
}

PRE.uniDiplome {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
}

#lineHref { 
    float:left; 
    }
P.linksStr {
    float: left;
}

.greetings_main_links{
    font-family: 'VT323', monospace;
    font-size:  xx-large;
    text-decoration:none;
    display: inline; /* the default for span */
    width: 100%;
    height: 100%;
    padding: 5px;

}

.nav {
    font-family: 'VT323', monospace;
    font-size:  xx-large;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    font-family: 'VT323', monospace;
    display: inline-block;
    font-size: 40px;
    padding-right: 10%;
  }

P.backtomainpage {
    font-family: 'VT323', monospace;
    font-size:x-large;
    text-decoration:none;
}


/* footer{ 
    text-align: center;
    font-size: 35px;
    bottom:1; 
    width:100%; 
  }
  
footer li {
    display: inline-block;
    padding: 10px;
    font-size: 35px;
  }
 */


 




