/* @font-face {
    font-family: "sono";
    font-style: normal;
    font-weight: 400;
    src: local("sono"),
         url("/Users/pr0m31h3u5/Desktop/pr0m31h3u5.com/fonts/Sono-Regular.ttf") format("ttf"),
  } */

/* body {
    font-family:"Arial", sans-serif;
} */

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
  
* {
	-webkit-user-select: none;
	user-select: none;
}

img {
  pointer-events: none; /*элемент не может стать объектом мыши*/
  user-select: none; /*запрет на перенос текста*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header {
	text-align: center;
    letter-spacing: 1px;
    height:10em;

}



/* preventing overscroll */
/* body {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
} */




body {
	font-size: 1em;
	margin: 0;
	font-family: 'VT323', monospace;
	color: antiquewhite;
	line-height: var(--line-height);
	background-color: black;
	--line-height: 19px;
    overflow-x: hidden;
}




#mainPage {
    box-sizing: border-box;
	}
    #greeting {
        box-sizing: border-box;
        width: 370px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 5%;
        font-family: 'VT323', monospace;
        font-size:x-large;
         }

    #skills { 
        text-align: center;
        box-sizing: border-box;
        width: 390px;
        display: inline-block;
        vertical-align: top;
        margin-left: auto;
        font-family: 'VT323', monospace;
        font-size:x-large;
        margin-left: 5%;
        } 
        
    #education {
        box-sizing: border-box;
        width: 350px;
        display: inline-block;
        vertical-align: top;
        margin-left: auto;
        margin-left: 5%;
        } 
                       /* <!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ PHONE $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$--> */

    #greetingPhone {
        box-sizing: border-box;
        width: 280px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-family: 'VT323', monospace;
        font-size:x-large;
        margin-left: 10%;
         }

    #skillsPhone { 
        text-align: center;
        box-sizing: border-box;
        width: 280px;
        display: inline-block;
        vertical-align: top;
        font-family: 'VT323', monospace;
        font-size:x-large;
        margin-left: 10%;
        } 
        
    #educationPhone {
        box-sizing: border-box;
        width: 280px;
        display: inline-block;
        vertical-align: top;
        margin-left: 10%;
        }

        .headerPreMin {
            font-family: 'VT323', monospace;
        }


        @media (max-width: 960px) {
            .headerPreMax {
                display: none;
            }
            
        }

        @media (min-width: 961px) {
            .headerPreMin {
                display: none;
            }
            
        }

        @media (max-width: 960px) {
            #greeting {
                display: none;
            }
            
        }

        @media (min-width: 961px) {
            #greetingPhone {
                display: none;
            }
            
        }

        @media (max-width: 960px) {
            #skills {
                display: none;
            }
            
        }

        @media (min-width: 961px) {
            #skillsPhone {
                display: none;
            }
            
        }

        @media (max-width: 960px) {
            #education {
                display: none;
            }
            
        }

        @media (min-width: 961px) {
            #educationPhone {
                display: none;
            }
            
        }


a { 
    text-decoration: underline;
    color: antiquewhite ;
}

a.raindbow {
  background: linear-gradient(to right, rgb(199, 0, 0), rgb(232, 1, 1), rgb(133, 0, 0), rgb(255, 213, 26), rgb(255, 0, 0), rgb(255, 132, 0), rgb(199, 0, 0));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
}

@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
 
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

P.greeting_hlwrld{
    text-align: center;
}

P.developer {
    text-align: center;
}

P.greeting_gif {
    text-align: center;
}

P.firstLineStr {
    text-align: center;
}

P.diplomesStr {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
}

PRE.uniDiplome {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
}

P.educationgif {
    text-align: center;
}

#lineHref { 
    float:left; 
    }
P.linksStr {
    float: left;
}

.greetings_main_links{
    font-family: 'VT323', monospace;
    font-size:  xx-large;
    text-decoration:none;
    display: inline; /* the default for span */
    width: 100%;
    height: 100%;
    padding: 5px;

}

.nav {
    font-family: 'VT323', monospace;
    font-size:  xx-large;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    font-family: 'VT323', monospace;
    display: inline-block;
    font-size: 40px;
    padding-right: 10%;
  }

P.backtomainpage {
    font-family: 'VT323', monospace;
    font-size:x-large;
    text-decoration:none;
}

 
@-webkit-keyframes spinning {
    0%   { transform:rotate(0deg) }
    100% { transform:rotate(360deg) }
  }


.activity {
  width:20px;
  text-align:center;
}

.spinning {
  animation: spinning steps(8, end) 2s infinite;
}




.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: black;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader-2 {
    text-align: center;
    font-size: x-large;
  }
  
  .preloader-2 .line {
    width: 1px;
    height: 12px;
    background: antiquewhite;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out;
  }
  
  .preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
  .preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
  .preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
  .preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
  .preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
  .preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
  .preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
  .preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }
  
  @keyframes opacity-1 { 
    0% { 
      opacity: 1;
    }
    50% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }  
  }
  
  @keyframes opacity-2 { 
    0% { 
      opacity: 1;
      height: 15px;
    }
    50% { 
      opacity: 0;
      height: 12px;
    }
    100% { 
      opacity: 1;
      height: 15px;
    }  
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }